.catalog h2 {
    margin:35px;
    text-transform: uppercase;
    color: black;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.products.container {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

@media (max-width: 600px){
    .catalog h2 {
        font-size: 25px;
        margin: 25px;
    }
}