.header-titles {
    color:white;
    text-align: left;
    text-transform: uppercase;
    padding-top: 34vh;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.568);
  }
  
  .header-titles h1 {
    font-size: 65px;
  }
  
  .header-titles h5 {
    font-size: 30px;
  }

  @media (max-width: 600px) {
    .header-titles h1 {
      font-size: 30px;
    }
  
    .header-titles h5 {
      font-size: 20px;
    }
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .organic-header {
    background-image: url("/img/header2.jpg");
    background-size: cover;
    height: 90vh;
    background-position:center;
  }

  .start-button {
    margin-top: 30px;
  }

  .start-button span {
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
  }